*
{
    padding:0;
    margin:0;
    box-sizing: border-box;
}


body {
    font-family:verdana;
    background-image: url(./bk.jpg);
    background-position: 0 1000px;
    background-size: cover;

}

.container{
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 3rem;
    margin-top: 4rem;
    text-align: center;
}

.column-2 {
    float: left;
    width: 45%;
    padding: 40px;
    padding-left:70px;
    padding-right: 70px;
    height: 700px;
    margin:30px;
    margin-right:30px;
    margin-bottom: 70px;
    background-color: #FEDE00;
    line-height:2;
  }

.large-profile {
    background: url('yanyan.jpg');
    background-size: contain;
    background-position: right;
    background-repeat: no-repeat;


  }

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #707374;
    max-width:auto;
    text-align: center;
}

li {
    float: left;
}

li a, .dropbtn {
    display: block;
    color: white;
    text-align: center;
    padding: 20px 25px;
    text-decoration: none;
    font-size: 24px;
}

li a:hover, .dropdown:hover .dropbtn {
    background-color: grey;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 200px;   
}

.dropdown-content a {
    color: black;
    padding: 18px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    
}

.dropdown:hover .dropdown-content {
    display: block;
    opacity: .8;
}

td {
    padding: 5px;
    text-align: left;
    width: auto;
    height: auto;
}

tr{
    padding: 0px;
    text-align: top;
    background-color:#ffffff;
    width: auto;
    height: auto;
}

img:hover {
  opacity: .6;
}