
body {
    font-family:verdana;
    background-image: url(./images/bk.jpg);
    background-position: 0 1000px;
    background-size: cover;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #707374;
    max-width:auto;
}

li {
    float: left;
}

li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 20px 25px;
    text-decoration: none;
    font-size: 24px;
}

li a:hover, .dropdown:hover .dropbtn {
    background-color: grey;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;   
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    
}

.dropdown:hover .dropdown-content {
    display: block;
    opacity: .8;
}


img:hover {
  opacity: .6;
}

.column-2 {
    float: left;
    width: 35%;
    padding: 40px;
    padding-left:70px;
    padding-right: 70px;
    height: 1860px;
    margin:30px;
    margin-right:30px;
    margin-bottom: 70px;
    background-color: #FEDE00;
    line-height:2.5;
  }

.large-profile {
    background: url('./images/yanyan.jpg');
    background-size: contain;
    background-position: right;
    background-repeat: no-repeat;
    float: right;

  }